#homeVideo {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.homeVideoContainer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 40vw;
}

.cover-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.homeContainer {
  margin-top: 38vw;
  margin-bottom: 40px;
}

.content {
  /* position: absolute; */
  z-index: 5;
  bottom: 20px;
  color: #f1f1f1;
  padding: 20px;
  margin-left: 40px;
}

.spacer {
  height: 40vw;
}

.content-container {
  display: flex;
  flex-direction: column;
  /* position: relative; */
  inset: 0;
  max-width: 100%;
  background-color: transparent;
  z-index: 3;
  margin-top: 12%;
}

.my-search {
  background-color: transparent;
  border: none;
  color: white;
  font-size: x-large;
}

.my-search-container {
  max-width: 450px;
  margin-left: 50px;
}

.my-search-container2 {
  max-width: 300px;
  margin-bottom: 90px;
}

#my-input-search,
#my-input-search2 {
  border-radius: 0.375rem;
  border: 1px solid #f1563c;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media only screen and (min-width: 1200px) {
  .content {
    /* position: absolute; */
    bottom: 10vw;
  }
}

@media only screen and (min-width: 600px) {
  .content h1 {
    /* position: absolute; */
    font-size: 4rem;
  }
}

@media only screen and (max-width: 500px) {
  div.content h1 h2 {
    font-size: smaller;
  }
}

@media only screen and (min-width: 1600px) {
  .homeContainer {
    max-width: 1550px;
  }
}

@media only screen and (min-width: 1600px) {
  .content-container {
    margin-left: 12%;
  }
}
