<section class="homeVideoContainer">
  <video #homeVideo preload="auto" autoplay muted loop id="homeVideo">
    <!-- risorsa preferibilmente da caricare su uno static webserver -->
    <source src="../../../assets/video/home_video2.mp4" type="video/mp4" />
  </video>

  <div class="content-container" [ngClass]="{ 'fix-padding': isOpen }">
    <div class="content">
      <h1>Il grande <span class="brandColor">Cinema</span></h1>
      <h2>dal divano di <span class="brandColor">Casa</span></h2>
    </div>
    <div *ngIf="mostraElemento" class="input-group mb-3 my-search-container">
      <div class="input-group-prepend">
        <span class="input-group-text my-search" id="basic-addon1"
          ><i class="bi bi-search"></i
        ></span>
      </div>

      <input
        [(ngModel)]="search"
        (ngModelChange)="getResultsSearch()"
        type="text"
        class="form-control"
        id="my-input-search"
        placeholder="Cerca tra i nostri film"
        aria-label="Cerca"
        aria-describedby="basic-addon1"
      />
    </div>
  </div>
</section>

<div class="container-xl homeContainer" [ngClass]="{ 'fix-padding': isOpen }">
  <div *ngIf="!mostraElemento" class="input-group mb-3 my-search-container2">
    <div class="input-group-prepend">
      <span class="input-group-text my-search" id="basic-addon1"
        ><i class="bi bi-search"></i
      ></span>
    </div>

    <input
      [(ngModel)]="search"
      (ngModelChange)="getResultsSearch()"
      type="text"
      id="my-input-search2"
      class="form-control form-control-body"
      placeholder="Cerca tra i nostri film"
      aria-label="Cerca"
      aria-describedby="basic-addon1"
    />
  </div>
  <h2 *ngIf="searchRes.length > 0">I risultati della tua ricerca</h2>
  <div *ngIf="searchRes.length > 0" class="container resultsContainer">
    <div *ngFor="let fm of searchRes" class="over-visi">
      <div class="card" style="width: 10rem">
        <img class="card-img" [src]="getPosterPath(fm)" alt="{{ fm.title }}" />
        <div class="card-body">
          <h5 class="card-title">{{ fm.title }}</h5>
          <a [routerLink]="'/film/' + fm.id" class="btn">Info</a>
        </div>
      </div>
    </div>
  </div>
  <app-carousel
    [carouselMedia]="media[2]"
    [carouselTime]="time[1]"
    [carouselLabel]="'Film in tendenza'"
  ></app-carousel>
  <app-carousel
    [carouselMedia]="media[3]"
    [carouselTime]="time[1]"
    [carouselLabel]="'Serie Tv in tendenza'"
  ></app-carousel>
  <app-carousel
    [carouselMedia]="media[4]"
    [carouselTime]="time[1]"
    [carouselLabel]="'Persone in tendenza'"
  ></app-carousel>
</div>
