.navbar {
  position: sticky;
  top: 0;
  z-index: 99;
  transition: ease-in-out 0.1s;
}
.navbar a {
  font-size: 1.3rem;
}

nav h2,
nav a.nav-link {
  color: white;
}
.mr-3 {
  margin-right: 30px;
}
nav a.nav-link:hover {
  color: #dddddd;
  font-weight: bold;
}

.brand {
  display: contents;
}
.navbar-toggler {
  color: white;
  font-size: xx-large;
}

.navbar-nav .nav-link.active {
  color: #f1563c;
  font-weight: bold;
}

.dropdown-menu {
  background-color: black;
}

.dropdown-menu a {
  color: white;
}

.dropdown-menu a:hover {
  background-color: black;
  font-weight: bold;
}

.navbar.isDropDownMenu {
  background-color: black;
}
/* ASIDE Sidebar  */
.aside-nav {
  background-color: rgb(0, 0, 0);
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
  position: fixed;
  top: 0;
  height: 100%;
}

.aside-nav.hidden {
  left: -230px;
}
.position-relative {
  position: relative;
}
.logo-container {
  flex: 1;
  text-align: center;
  padding: 20px;
}
.logo-container img {
  width: 80px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.aside-content {
  flex: 5;
}

.aside-content a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.aside-content ul {
  list-style: none;
  padding-left: 0;
  text-align: center;
  font-size: x-large;
}
.aside-account {
  flex: auto;
  position: relative;
  display: inline-block;
  text-align: center;
}
.dropbtn {
  background-color: transparent;
  border: none;
  font-size: 4rem;
  color: white;
}

.profile {
  font-size: 4.5rem;
  margin-top: 80px;
}

.dropdown-content {
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background-color: black;
  color: white;
  font-size: 1.1rem;
}
.dropdown-content a {
  padding: 0;
  text-decoration: none;
  display: block;
  color: white;
}
.dropdown-content a:last-child {
  padding: 12px 16px;
}
.dropdown-content a:hover {
  color: #dddddd;
  font-weight: bold;
}
.aside-account:hover .dropdown-content {
  display: block;
}

.sidebar__search-form {
  display: flex;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar__search-form input[type="text"] {
  flex: 1;
  border: none;
  outline: none;
  width: 80%;
}

.sidebar__search-form button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  color: #555;
}

.username {
  font-weight: bold;
  color: #f1563c;
}
